<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>

  <body>
    <%- include('./partials/header.ejs'); %>
    <div id="container">
      
      <% if (currentUser) {%>
        <h1>Welcome back <%= currentUser.username %>!</h1>
      <% } else { %>
        <h1>Please Log In or Sign Up</h1>
      <%}%>
      
      <div class="row">
        <div id='chart'></div>
        <%- include('./partials/chart.ejs'); %>
      
        <div id='stock-ticker-container'>
          <form action='add-stock' method='POST' id="add-stock-form">
              <label for="stock">Stock Ticker:</label>
              <input type="text" name="stock" value="WORK">
      
              <input type="submit", value="Add">
          </form>
      
          <div id='user-stocks-list'>
            <% if (currentUser) { %>
              <% var stocksArray = currentUser.stocks; %>
      
              <% for(var i = 0; i < stocksArray.length; i++) { %> 
                <div class="user-stock-single-entry">
                  <a class="stock-grab-link" href="/get-stock-data/<%= stocksArray[i] %>"><%= stocksArray[i] %> </a>
                  <a class="stock-delete-link" href="/delete-stock-data/<%= stocksArray[i] %>">Delete <%= stocksArray[i] %> </a>
                </div>
              <% } %>
          <% } %>
          </div>
        </div>
      </div>

      <div class="row">
        <%- include('./partials/company-info.ejs'); %>
      </div>
    
    </div>
    
  </body>
</html>